@import "tailwindcss";

@theme {
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --color-rosi-50: hsl(20, 50%, 98%);
  --color-rosi-100: hsl(13, 31%, 94%);
  --color-rosi-300: hsl(14, 25%, 72%);
  --color-rosi-400: hsl(7, 20%, 60%);
  --color-rosi-500: hsl(12, 20%, 44%);
  --color-rosi-900: hsl(14, 65%, 9%);
}

body {
  font-family: "Red Hat Text", sans-serif;

  @apply bg-rosi-50;
}
